.#{$header} {
    display: flex;
    align-items: center;

    &-info {
        flex: 1;
        text-align: center;
    }

    &-location {
        display: block;
        font-size: 14px;
        font-weight: bold;
    }

    &-time {
        font-size: 0;

        span {
            font-size: 11px;
            color: $black;
        }

        &-type {
            margin-right: 4px;
        }

        &-minute {
            &:before {
                content: "\003a";
                font-size: 11px;
                color: $black;
            }
        }
    }
}

.btn-#{$header}-info {
    &.active {
        span:before,
        span:after {
            left: 50%;
            top: 50%;
            transform-origin: left;
            transition: all .3s;
        }

        span:before {
            transform: rotate(45deg) translate3d(-50%, -50%, 0);
        }

        span:after {
            transform: rotate(-45deg) translate3d(-50%, -50%, 0);
        }
    }

    span:before,
    span:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 1px;
        background-color: #333;
        border-radius: 5px;
    }

    span:before {
        left: 8px;
        top: 14px;
    }

    span:after {
        left: 8px;
        bottom: 14px;
    }
}

.btn-#{$header}-location {
    span {
        &:before,
        &:after {
            content: "";
            position: absolute;
            transform: translate3d(-50%, -50%, 0);
            background-color: #333;
            border-radius: 5px;
        }

        &:before {
            width: 20px;
            height: 1px;
        }

        &:after {
            width: 1px;
            height: 20px;
        }
    }
}
