@import './partials/reset';
@import './partials/mixin';

body {
    max-width: 500px;
    margin: 0 auto;
}

button {
    position: relative;
    width: 40px;
    height: 40px;
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 0;
}

@import './partials/header';

.contentWrap {
    min-height: calc(100vh - 90px);
    padding: 0 20px;
}

.contentWrap .now-temp[data-temp="hot"] {
    background-color: #e7cd00;
    transition: background 1s;
}

.now-temp[data-temp="warm"] {
    background-color: #e36804;
    transition: background 1s;
}

.now-temp[data-temp="cozy"] {
    background-color: #900000;
    transition: background 1s;
}

.now-temp[data-temp="mild"] {
    background-color: #870b8b;
    transition: background 1s;
}

.now-temp[data-temp="cool"] {
    background-color: #5125c1;
    transition: background 1s;
}

.now-temp[data-temp="chilly"] {
    background-color: #1f2c97;
    transition: background 1s;
}

.now-temp[data-temp="cold"] {
    background-color: #288697;
    transition: background 1s;
}

.now-temp[data-temp="freezing"] {
    background-color: #0879c4;
    transition: background 1s;
}


@import './partials/footer';

