@import './partials/reset';
@import './partials/mixin';

body {
    max-width: 500px;
    margin: 0 auto;
}

button {
    position: relative;
    width: 40px;
    height: 40px;
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 0;
}

@import './partials/header';

.contentWrap {
    min-height: calc(100vh - 90px);
    padding: 0 20px;
}

@each $name, $color in $temp{
    .now-temp[data-temp="#{$name}"] {
        background-color: #{$color};
    }
}

@import './partials/footer';

